
*{
    /* text-align: center; */
}
.Home{
    width:80%;
    margin: auto;
    display: flex;
    height: fit-content;
    justify-content: space-evenly;
    /* margin-top: 5rem; */
    
}
.PostsDisplayer{
    width: 58%;
    height: fit-content;
    

}
.Navbar{
    position: sticky;
    border:1px solid rgb(187, 185, 185);
    height: 5rem;
    width: 100%;
    top: 0px;
    z-index: 100;
    background-color: white;
    margin-bottom: 3rem;
    
}
.Navbar-content{
    display: flex;
    width: 80%;
    margin:auto;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    
}
.icons{
    display: flex;
    justify-content: space-around;
    width:20rem;
    /* background-color: black; */
}
.material-icons-outlined>img{
    height:110%;
    border: 3px solid white;
}
.Navbar input{
    width:20rem;
    height: 3rem;
    margin-left: 8rem;
    text-align: center;
    border:1px solid rgb(187, 185, 185);
    cursor: pointer;
}

/* for sideprofile component */

.SideProfile{    

    width:35%;
    height:40rem;
    position: -webkit-sticky;
    position: sticky;
    top:8rem;
}
.SideProfile>div{
    display: flex;
    width:90%;
    margin: auto;
}
.SideProfile>div>img{
    width:6rem;
    height:6rem;
    border-radius: 50%;
    border:1px solid rgb(187, 185, 185);
    cursor: pointer;
    object-fit: cover;
}
.SideProfile-info-box{
    width:70%;
    /* font-family: 'barlow', sans-serif; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.SideProfile-info-box>p{
    text-align: left;
    font-size: 1.5rem;
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    padding-left: 1.5rem;
    padding-top: 0.2rem;
}
.SideProfile-info-box>p:nth-child(2){
    color: grey;
}
.SideProfile button{
    width: fit-content;
    height: fit-content;
    padding:0px;
    margin-top:0.5rem;
    cursor: pointer;
    /* border-radius: ; */
}
.SideProfile button>img{
    width:4rem;
    height:4rem;
    padding: 0px;
    margin: 0px;
}
.suggestion-box{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}
.suggestion-box>:nth-child(1){
    font-size: 1.5rem;
    margin-bottom: 15px;
    font-weight: 800;
    color: grey;
}
.suggested-people>div{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 10px;
    
}
.suggested-people>div>div:nth-child(1){
    width:50px;
  
}
.suggested-people img{
    width:50px;
    height:50px;
    border-radius: 50%;
}
.suggested-people>div>div:nth-child(2){
    width: 80%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: s;
    margin-left:25px;
    font-size: 1.5rem;
}
.suggested-people>div>div:nth-child(2)>span{
    width: 100%;
    text-align: left ;
}
.suggested-people>div>div:nth-child(2)>span:nth-child(2){
    color:rgb(94, 93, 93)
}
.search-btn{
    justify-content: center;
    align-items:center;
    padding:1px;
    cursor: pointer;
}
.result-box{
    border:1px solid rgb(187, 185, 185);
    background-color: white;
    margin-left: 4rem;
    width: 35rem;
    min-height: fit-content;
    max-height: 30rem;
    border-radius: 15px;
    overflow-y: scroll;
    padding:5px;
    position: absolute;
    top:4rem;
    
    
}
.result-box img{
    width: 35px;
    height: 35px;
}
.result-box div{
    font-size: 1.3rem !important;
}
.result-box>div:nth-child(1){
  
    width: 100%;
    display: flex;
    justify-content: flex-end !important;
}
.result-box>div:nth-child(1)>button{
   padding:0.5px;
}
.search-bar{
 display: flex;
 flex-direction: column;
}